<!doctype html>
<html>
  <head>
    <title>Data Admin Tool</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/min-helper.css"/>
    <link rel="stylesheet" type="text/less" href="/assets/css/base.less"/>
    <link rel="stylesheet" type="text/less" href="/assets/css/tabs.less"/>
    <script type="text/javascript" src="/assets/js/less-1.4.1.min.js"></script>
  </head>
  <body>
  <div id="target-ajax-base">
  </div>
  <div id="promise-ajax-base">
  </div>
  <div id="search-users">
  </div>
  <div id="users-table"></div>
  <script type="text/javascript" src="/assets/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/q.js"></script>
  <script type="text/javascript" src="/assets/js/jade.js"></script>
  <script type="text/javascript" src="/assets/js/ext-append-jade.js"></script>
  <script type="text/javascript" src="/assets/js/ext-promise-jade.js"></script>
  <script type="text/javascript" src="/assets/js/page_main.js"></script>
  </body>
</html>
