<div class="tab-pane frame-top">
	<form id="tab">
		<label for="email">Email</label>
		<input type="text" value="{{searchInput}}" ng-model="searchInput" class="form-control" id="email" />
		<div>
			<a href="#/findUser/{{searchInput}}" >
				<button class="btn btn-primary">Search</button>
			</a>
		</div>
	</form>
	<div class="user-info-control {{userInfoDisplay}}">
		<div class="user-info-container">
			<div>
				<h3>User Info</h3>
				<ul>
					<li><strong>User Name:</strong> {{selectedData.name}}</li>
					<li><strong># Groups:</strong> {{selectedData.groups.length}}</li>
					<li><strong># Games:</strong> {{selectedData.games.length}}</li>
					<li><strong># Boards:</strong> {{selectedData.boards.length}}</li>
				</ul>
			</div>
			<div ng-controller="UserInfoNavCtrl">
				<div tab-nav-directive selected="groups" navitems="navItems"></div>
			</div>
		</div>
		<div class="no-user-info-container">
			<div class="alert">
				<strong>Warning!</strong> User does not exist
			</div>
		</div>
	</div>
</div>